body{
    background-color:aqua;
}
.backround{
    width: 600px;
    height: 300px;
    background: url('img/backround.jpg');
    background-size: 100% 100%;
    margin: 20px auto;
}
.area{
    width: 600px;
    height: 300px; 
    position: absolute;
    overflow: hidden;
}

#player.freeze{
    animation: none;
    background: url('img/Run\ \(5\).png');
    background-size: 100% 100%;
}
.player{
    width: 100px;
    height: 100px;
    background: url('img/Idle\ \(1\).png');
    background-size: 100% 100%;
    margin-top: 170px;
    margin-left: 30px;
    position: absolute;
    animation: lari 0.4s infinite;
    transition: 1s;
}
@keyframes lari {
    0%{
        background: url('img/Run\ \(1\).png');
        background-size: 100% 100%;
    }
    30%{
        background: url('img/Run\ \(2\).png');
        background-size: 100% 100%;
    }
    50%{
        background: url('img/Run\ \(3\).png');
        background-size: 100% 100%;
    }
    80%{
        background: url('img/Run\ \(4\).png');
        background-size: 100% 100%;
    }
    100%{
        background: url('img/Run\ \(5\).png');
        background-size: 100% 100%;
    }
}
.kotak{
    width: 100px;
    height: 100px;
    background: url('img/rintangan.jpg');
    background-size: 100% 100%;
    margin-top: 160px;
    margin-left: 600px;
}